/*@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');*/

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   background-color: #0C0B0B;
   color: #fff;
   font-family: "Oswald", sans-serif;
   overflow-x: hidden;
}

h1 {
   
   

}
input {
   all: unset;
   
}
ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

a {
   color: #fff;
   text-decoration: none;
}

img {
   width: 100%;
   height: 100%;

}
header {

   /*background-color: #00FFFF;*/
   position: sticky;
   top: 0;
   z-index: 4;
}

header .header-nav {

   display: flex;
   height: 56px;
}
.default-container {
   max-width: 1716px;
   margin: auto;
}
.default-container>p {
   margin-top: 63px;

   margin-bottom: 20px;
}
header .header-nav ul {
   display: flex;

   align-items: center;
   position: relative;
}
.header-nav-elements {
   display: flex;
   width: 100%;
   justify-content: space-between;
   
}
ul.menu>li>a {
   padding: 0px 0px 0px 16px;
   
}
ul.menu>li:last-child {
   margin-left: 16px;
   
}
ul.menu>li:last-child>a {
   border: dotted #fff;
   width: 80px;
   height: 43px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0;
}
ul.menu.li:nth-last-child(2) {
   margin-left: 100px;
   
}

ul.menu>li:first-child>a {
   margin-right: 12px;
   
}
ul.menu>li:first-child>a::after {
   content: "";
   position: absolute;
   width: 9px;
   height: 9px;
   background-color: #FF3C00;
   border-radius: 50%;
   left: 64px;
   top: 16px;
}


.login {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 90vh;
   flex-direction: column;
}

.login .form-container {
   width: 566px;
   height: auto;
   background-color: #161616;
   padding: 27px 70px 27px 70px;
}
.login .form-container>p:first-child {
   text-align: center;
   font-size: 24px;
   color: #aaa;
}

.login .form-container>form {
   display: flex;
   justify-content: center;
   flex-direction: column;
}
.login .form-container>form>input {
   height: 43px;
   background-color: #434343;
   margin-bottom: 24px;
}
.login .form-container>form>label {
   font-size: 16px;
   color: #A3A3A3;
}
.login .form-container>form>input[type=submit] {
   background-color: #FF501A;
   width: 136px;
   text-align: center;
   margin: auto;
   cursor: pointer;
   font-size: 23px;
   margin-top: 56px;
   margin-bottom: 20px;
   border-radius: 20px;
}
.login .form-container>p{
   text-align: center;
   font-size: 16px;
   color: #747474;
   margin-bottom: 15px;
}
.login .form-container>p:last-child>span {
   color: #C1C1C1;
}

.login>p {
   font-size: 16px;
   color: #747474;
   margin-top: 23px;
}
.login>p>span {
   color: #C1C1C1;
}
ul.menu-mobile>li:first-child>a::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: #FF3C00;
    border-radius: 50%;
    left: 216px;
    top: 27px;
}
@media(max-width: 812px) {
.hero-movie {
   justify-content: center;
   align-items: center;
}
.hero-movie>p:first-child {
   text-align: center;
   font-size: 4rem;
}
.hero-movie>p:nth-child(2) {
   font-size: 1rem;
   text-align: center;
}
button {
   font-size: 1rem;
   width: auto;
   height: auto;
   padding: 1rem;
}
.next-main-slider {
   justify-content: center;

}
.login .form-container {
   width: auto;

   margin: auto;
}

.login {
   height: auto;

   margin: 69px;
}
}
@media(max-width: 1723px) {
.default-container {
   padding: 0 3% 0 3%;

}
}